[submodule "start/nerdtree"]
	path = start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "start/vim-easy-align"]
	path = start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
